.footer{
    font-size: 22px;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 30px;
}


@media screen and (max-width: 767px){
    .footer{
    font-size: 17px;
    padding: 15px;
    }
}