<div class="nav-bar">
    <div class="container">
        <div class="nav-img">
            <img src="../../../assets/imags/png-transparent-e-commerce-logo-logo-e-commerce-electronic-business-ecommerce-angle-text-service-removebg-preview.png"
                alt="cartimage">
        </div>
        <nav>
            <ul>
                <li><a routerLink="home" routerLinkActive="active-link">Home</a></li>
                <li><a routerLink="products" routerLinkActive="active-link">Products</a></li>
                <li><a routerLink="cart" routerLinkActive="active-link">Cart</a></li>
            </ul>
        </nav>
        <div class="cart">
            <img src="../../../assets/imags/shopping-cart-icon-shopping-basket-on-transparent-background-free-png.webp"
                alt="cart icon">
        </div>
    </div>
</div>