
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="!isLoading">
    <!-- Start Header section -->
    <header>
    </header>
    <!-- End Header section -->

    <section class="products">
        <div class="container">
            <h2>Popular products</h2>

            <!-- For search -->
            <input class="search" type="search" placeholder="Search..." [(ngModel)]="searchTerm" />

            <!-- For sorting -->
            <div *ngIf="products.length === 0">Loading products...</div>

            <select class="select" [(ngModel)]="selectedSort" (change)="sortProducts()">
                <option value="">Sort By</option>
                <option value="priceLowToHigh">Price: Low to High</option>
                <option value="priceHighToLow">Price: High to Low</option>
                <option value="nameAZ">Name: A–Z</option>
            </select>
            <!-- <ul>
            <li *ngFor="let product of products">
                {{ product.title }} - ${{ product.price }}
            </li>
        </ul> -->
            <div *ngIf="products.length">
                <div class="cards">
                    <div class="card" *ngFor="let item of products.slice(0, 10)| search : searchTerm">
                        <div class="card-container">
                            <div [routerLink]="['/details', item.id]">
                                <div class="img-card">
                                    <img [src]="item.image" alt="random products">
                                </div>

                                <div class="caption">
                                    <h3>{{item.title.split(' ').slice(0,2).join()}}</h3>
                                    <!-- <h4>{{item.price}}</h4> -->
                                    <div class="rating">
                                        <i class="fa-solid fa-star"></i>
                                        <span>{{item.rating.rate}}</span>
                                    </div>
                                </div>
                            </div>

                            <button (click)="addCart(item.id)">Add Product</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- empty states -->
            <div *ngIf="products.length === 0">
                No products found.
            </div>
        </div>
    </section>
</div>

