<section class="details">
    <div class="container">
        <div class="details-container">
            <div class="details-img">
                <img [src]="productDetails.image" alt="productimage">
            </div>
            <div class="details-content">
                <p>{{productDetails.description}}</p>
                <h3>{{productDetails.title}}</h3>
                <h4>{{productDetails.category}}</h4>
                <p class="price">{{productDetails.price}} EGP</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <span>{{productDetails.rating.rate}}</span>
                </div>
                <button>Add Product</button>
            </div>
        </div>
    </div>
</section>