

.details-container{
    display: flex;
    flex-direction: column;
    padding-block: 80px;
}
.details-container .details-img{
    width: 30%;
}
.details-container .details-img img{
    width: 100%;
}
.details-container .details-content{
    width: 70%;
    align-self: center;
    margin-top: 10px;
    position: relative;
    padding: 20px 40px;
}
.details-container .details-content p{
    font-size: 18px;
}
.details-container .details-content h3{
    color: var(--main-color);
    font-size: 22px;
    margin-block: 10px;
}
.details-container .details-content h4{
    margin-bottom: 10px;
}
.details-container .details-content .price{
    color: #ae3611;
    margin-bottom: 20px;
}
.details-container .rating{
    position: absolute;
    bottom: 40px;
    right: 0;
}


